<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <nav class="nav">
        <ul>
            <img th:src="${session.usuario.imagenUrl}" 
                 alt="Avatar" 
                 style="width: 30px; height: 30px; border-radius: 50%; vertical-align: middle; margin-right: 5px;">
            <li>sesion: <span th:text="${session.usuario.nombre}"></span></li>
            <li><a href="/cerrarSesion">Cerrar sesión</a></li>
            <li><a href="/">Inicio</a></li>
        </ul>
    </nav>
     <header class="header">
    <img src="logoFium.png" alt="Logo FiumPlan" class="logo">
    <h1 class="titulo">FiumPlan</h1>
</header>
    <div class="container">
        <h1>Mis Proyectos: </h1>
        <ul>
            <li th:each="proyecto : ${listaProyectos}">
                Nombre:
                <a th:href="@{/verProyecto(nombre=${proyecto.nombre})}" th:text="${proyecto.nombre}" ></a>
                Descripción:
                <span th:text="${proyecto.descripcion}"></span>
            </li>
            <li>
                <a href="crearProyecto">Crear nuevo proyecto</a>
            </li>
        </ul>
    </div>
    <div th:if="${error}" class="error">
    <p th:text="${error}"></p>
</div>
</body>
</html>