<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"th:href="@{/proyecto.css}">
</head>
<body>
    <nav class="nav">
        <ul>
            <li>sesion: <span th:text="${session.usuario.nombre}"></span></li>
            <li><a href="/cerrarSesion">Cerrar sesión</a></li>
            <li><a href="/index">Inicio</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1 th:text="${proyecto.nombre}"></h1>
        <p th:text="${proyecto.descripcion}"></p>

        <button onclick="cambiaForm('formTareaPrincipal')">+ Nueva tarea</button>

        <form id="formTareaPrincipal" action="/insertarTareaPrincipal" method="get" style="display: none;">
            <input type="hidden" name="nombreProyecto" th:value="${proyecto.nombre}">
            <input type="text" name="titulo" placeholder="Título" required>
            <input type="text" name="descripcion" placeholder="Descripción" required>
            <input type="number" name="prioridad" placeholder="Prioridad" required>
            <input type="submit" value="Crear tarea">
        </form>
        <hr>
        <h2>Tareas principales</h2>
        <a th:href="@{/proyecto/ordenarPrioridad(nombre=${proyecto.nombre})}">Ordenar tareas por prioridad</a>
        <div th:each="tarea : ${proyecto.tareas}">
            <h3 th:text="${tarea.titulo}"></h3>
            <p th:text="${tarea.description}"></p>
            Prioridad:
            <span th:text="${tarea.prioridad}"></span>
            <br>
            fecha de creación:
            <span th:text="${tarea.fechaCreacion}"></span>
            <br>
            <button th:attr="data-formid=${'formSecundaria-' + tarea.titulo}">+ Nueva subtarea</button>
            
            <form th:id="${'formSecundaria-' + tarea.titulo}" action="/insertarTareaSecundaria" method="get" style="display: none;">
                <input type="hidden" name="nombreProyecto" th:value="${proyecto.nombre}">
                <input type="hidden" name="tituloPrincipal" th:value="${tarea.titulo}">
                <input type="text" name="tituloSecundaria" placeholder="Título" required>
                <input type="text" name="descripcion" placeholder="Descripción" required>
                <input type="number" name="prioridad" placeholder="prioridad" required>
                <input type="text" name="categoria" placeholder="Categoría">
                <input type="submit" value="Crear subtarea">
            </form>

            <ul>
                <li th:each="sub : ${tarea.tareasSecundarias}">
                    <span th:text="${sub.titulo}"></span> - 
                    <span th:text="${sub.categoria}"></span> -
                    <span th:text="${sub.description}"></span> - prioridad:
                    <span th:text="${sub.prioridad}"></span>
                </li>
            </ul>
        </div>
    </div>
    <script>
        function cambiaForm(id){
            let formulario = document.getElementById(id);
            if(formulario.style.display == 'none'){
                formulario.style.display = 'block';
            }else{
                formulario.style.display = 'none';
            }
        }
        document.querySelectorAll('button[data-formid]').forEach(b => {
        b.addEventListener('click', () => {
            cambiaForm(b.getAttribute('data-formid'));
        });
    });
    </script>
</body>
</html>