<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nuevo anuncio</h1>
    <form action="procesaAnuncio">
        Nombre:
        <br>
        <input type="text" name="nombre">
        <br>
        Asunto:
        <br>
        <input type="text" name="asunto">
        <br>
        Comentario:
        <br>
        <textarea name="comentario"></textarea>
        <br>
        <input type="submit" value="enviar">
    </form>
</body>
</html>