

services:
  # --- SERVICIO 1: BASE DE DATOS ---
  mysqldb:
    image: mysql:8.0
    container_name: fiumplan_db_docker
    ports:
      - "8080"
    environment:
      MYSQL_DATABASE: fiumplan_db
      MYSQL_ROOT_PASSWORD: toor
    volumes:
      - mysql_data:/var/lib/mysql # ¡Importante! Guarda los datos aunque apagues el PC

  # --- SERVICIO 2: TU APP SPRING BOOT ---
  app:
    build: .             # Usa el Dockerfile que está en esta carpeta
    container_name: fiumplan_app_docker
    ports:
      - "8080:8080"      # Podrás entrar en localhost:8080
    depends_on:
      - mysqldb          # Espera a que la base de datos arranque antes de iniciar
    environment:
      # Sobreescribimos la conexión de application.properties para usar el contenedor 'mysqldb'
      SPRING_DATASOURCE_URL: jdbc:mysql://mysqldb:3306/fiumplan_db?allowPublicKeyRetrieval=true&useSSL=false
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: toor
      SPRING_JPA_HIBERNATE_DDL_AUTO: update

volumes:
  mysql_data: # Define el volumen para guardar los datos