<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        body{
            font-family: sans-serif;
        }
    </style>
    <form action="anuncio">
        Nombre usuario:
        <br>
        <input type="text" name="nombre">
        <br>
        Asunto:
        <br>
        <input type="text" name="asunto">
        <br>
        Cuerpo:
        <br>
        <input type="text" name="cuerpo">
        <br>
        <br>
        <input type="submit" value="enviar">
    </form>
</body>
</html>