<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4><a href="/nuevoAnuncio">Crear nuevo anuncio</a></h4>
    <br>
    <table>
        <tr th:each="anuncio : ${session.lista}">
            <a th:href="@{/final(id2=${anuncio.id})}" th:text="${anuncio.nombre} +' '+ ${anuncio.asunto}"></a>
            <br>
        </tr>
    </table>
</body>
</html>